---
    import Layout from "@layouts/Layout.astro";
---

<Layout title="Games">
    <main class="min-h-screen mx-8 my-4">
        <article>
            <h2 class="text-5xl font-semibold tracking-wider py-3 border-b-2 w-fit pr-4">Newly Added</h2>
            <section class="flex mt-2 px-2 space-x-6 items-center">
                <button class="relative h-fit group hover:drop-shadow-[0_20px_15px_rgba(99,176,205,0.25)] hover:text-moonstone transition-color ease-in">
                    <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 0 320 512" fill="currentColor" class="group-hover:scale-[1.15] transition-transform ease-in">
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                    </svg>
                    <span class="scale-0 group-hover:scale-100 absolute top-14 right-1/2 left-1/2 -translate-x-1/2 text-xs font-light min-w-max px-1 py-1/2 text-snow bg-[#384041]/50 rounded-sm transition-transform ease-in">Left</span>
                </button>
                <div class="flex flex-grow space-x-6">
                    <a href="" class="rounded-lg overflow-hidden w-1/4 relative hover:scale-[1.025] transition-transform ease-in group">
                        <img src="/img/andrey-metelev-DEuansgqjns-unsplash.jpg" alt="Img 1">
                        <div class="absolute px-4 py-2 top-0 h-full w-full bg-gradient-to-t from-midnight/95 from-40% to-transparent flex justify-end flex-col">
                            <section class="mb-2">
                                <span class="text-2xl font-mono group-hover:text-moonstone transition-colors ease-in">1v1.lol</span>
                                <p class="text-sm tracking-tighter">Date added: <span class="text-moonstone">Oct. 1st, 2023</span></p>
                            </section>
                            <p class="text-base tracking-tight line-clamp-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet animi asperiores tempora aperiam quam? Non laborum, minima quibusdam vitae nostrum eaque consequatur consectetur rem, facilis commodi deserunt doloremque eius! Temporibus?</p>
                        </div>
                    </a>
                    <a href="" class="rounded-lg overflow-hidden w-1/4 relative hover:scale-[1.025] transition-transform ease-in group">
                        <img src="/img/folu-eludire-O9Epo1PwX5A-unsplash.jpg" alt="Img 2">
                        <div class="absolute px-4 py-2 top-0 h-full w-full bg-gradient-to-t from-midnight/95 from-40% to-transparent flex justify-end flex-col">
                            <section class="mb-2">
                                <span class="text-2xl font-mono group-hover:text-moonstone transition-colors ease-in">Retro Bowl</span>
                                <p class="text-sm tracking-tighter">Date added: <span class="text-moonstone">Oct. 1st, 2023</span></p>
                            </section>
                            <p class="text-base tracking-tight line-clamp-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet animi asperiores tempora aperiam quam? Non laborum, minima quibusdam vitae nostrum eaque consequatur consectetur rem, facilis commodi deserunt doloremque eius! Temporibus?</p>
                        </div>
                    </a>
                    <a href="" class="rounded-lg overflow-hidden w-1/4 relative hover:scale-[1.025] transition-transform ease-in group">
                        <img src="/img/hannah-rodrigo-mf_3yZnC6ug-unsplash.jpg" alt="Img 3">
                        <div class="absolute px-4 py-2 top-0 h-full w-full bg-gradient-to-t from-midnight/95 from-40% to-transparent flex justify-end flex-col">
                            <section class="mb-2">
                                <span class="text-2xl font-mono group-hover:text-moonstone transition-colors ease-in">2048</span>
                                <p class="text-sm tracking-tighter">Date added: <span class="text-moonstone">Oct. 1st, 2023</span></p>
                            </section>
                            <p class="text-base tracking-tight line-clamp-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet animi asperiores tempora aperiam quam? Non laborum, minima quibusdam vitae nostrum eaque consequatur consectetur rem, facilis commodi deserunt doloremque eius! Temporibus?</p>
                        </div>
                    </a>
                    <a href="" class="rounded-lg overflow-hidden w-1/4 relative hover:scale-[1.025] transition-transform ease-in group">
                        <img src="/img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg" alt="Img 4">
                        <div class="absolute px-4 py-2 top-0 h-full w-full bg-gradient-to-t from-midnight/95 from-40% to-transparent flex justify-end flex-col">
                            <section class="mb-2">
                                <span class="text-2xl font-mono group-hover:text-moonstone transition-colors ease-in">Cookie Clicker</span>
                                <p class="text-sm tracking-tighter">Date added: <span class="text-moonstone">Oct. 1st, 2023</span></p>
                            </section>
                            <p class="text-base tracking-tight line-clamp-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet animi asperiores tempora aperiam quam? Non laborum, minima quibusdam vitae nostrum eaque consequatur consectetur rem, facilis commodi deserunt doloremque eius! Temporibus?</p>
                        </div>
                    </a>
                </div>
                <button class="relative h-fit group hover:drop-shadow-[0_20px_15px_rgba(99,176,205,0.25)] hover:text-moonstone transition-color ease-in">
                    <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 0 320 512" fill="currentColor" class="group-hover:scale-[1.15] transition-transform ease-in">
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                    </svg>
                    <span class="scale-0 group-hover:scale-100 absolute top-14 right-1/2 left-1/2 -translate-x-1/2 text-xs font-light min-w-max px-1 py-1/2 text-snow bg-[#384041]/50 rounded-sm transition-transform ease-in">Right</span>
                </button>
            </section>
        </article>
    </main>
</Layout>